name: E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        path: main
    - name: Get ODS Docker
      uses: actions/checkout@v2
      with:
        repository: Ed-Fi-Alliance-OSS/Ed-Fi-ODS-Docker
        path: ods-docker
    - name: Run ODS
      run: |
        docker-compose -f ./ods-docker/Compose/pgsql/compose-shared-instance-env-build.yml --env-file ./main/Application/EdFi.Ods.AdminApp.E2E.Tests/setup/.automation.env up -d
    - name: Verify ODS Health
      run: |
        while [ "`docker inspect -f {{.State.Health.Status}} ed-fi-ods-adminapp`" != "healthy" ]; do     sleep 2; done
        curl https://localhost/api
