@{
    ViewBag.Title = "Unauthorized";
}

<div class="row">
    <div class="col-md-12">
        <h1>Unauthorized</h1>
    </div>
    <div class="col-md-12">
        <p>
            <strong class="text-danger">You are not authorized to visit this page.</strong>
        </p>
        <p>
            If you are receiving this message in error, contact your administrator to check your
            defined user role and resolve this issue.
        </p>
    </div>
</div>
